<header>
  <div class="container">
    <a href="{{ url_for('index') }}" class="logo-link">
      <div class="logo">
        <span>flow</span>
        <img src="../image/flow.png" alt="Flow logo">
      </div>
    </a>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#" onclick="openInputPage(); return false;">Join</a></li>
        <li><a href="{{ url_for('result_page') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  function openInputPage() {
    window.open("{{ url_for('input_page') }}", "inputPage", "width=800,height=600,scrollbars=yes");
  }
</script>