/* contact page 스타일 */
h1 {
    text-align: center;
    margin-top: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.student-block {
    position: relative;
    border-radius: 50px;
    width: 350px;
    height: 450px;
}

.student-block:nth-child(2),
.student-block:nth-child(4) {
  margin-top: 70px;
}

.info p {
    text-align: left;
    text-indent: 120px;
    color: white;
    margin: 3px;
}

.indented-img {
  display: block;
  margin-left: 60px;
  margin-bottom: -20px;
  width: 300px;
}

.vertical-name {
  position: absolute;
  color: white;
  font-size: 70px;
  line-height: 1.2;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 150px;
}

.rotated-main {
    transform: translateX(-600px);
    transform-origin: center;
    display: block;
    margin: 0 auto;
    width: 180px;
}

.rotated-leader {
    position: absolute;
    transform-origin: center;
    display: block;
    margin: 0 auto;
    width: 90px;
    margin-left: 10px;
    margin-top: 30px;
}
