html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FFE0E5; 
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/image/flow2.png');
    background-size: 40% auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    opacity: 0.5; 
    z-index: 0; 
    pointer-events: none; 
    filter: hue-rotate(340deg) saturate(1.2); 
}

h1 {
    text-align: center;
    color: #8B4513; 
    margin-top: 40px;
    font-size: 36px;
    position: relative; 
    z-index: 1; 
}

form {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
}

.person-block {
    background-color: transparent; 
    border-radius: 20px;
    padding: 20px 30px;
    border: 2px solid #ffd0d8;
    margin-bottom: 20px;
}


.person-block p {
    color: #8B4513;

.form-row {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.label-text {
    width: 140px;
    text-align: right; 
    padding-right: 10px;
    font-size: 16px;
}

.input-wrapper {
    width: calc(100% - 160px); 
}

.input-field {
    width: 100%;
    padding: 6px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #f7f8eb;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    appearance: none;          
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #f7f8eb;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
    vertical-align: middle;
    position: relative;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: #ff6b8b;
}

input[type="radio"]:checked::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #f7f8eb;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
}

/* 안쪽 체크 표시(체크박스용) */
input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 13px;
    position: absolute;
    top: 1px;
    left: 4px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
    accent-color: #ff6b8b;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #ff6b6b;
}


.button-container {
    text-align: left;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0px; 
}

button {
    background-color: #ff6b8b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0px 5px 0px 0px; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
    position: relative;
    top: 0;
}

button:hover {
    box-shadow: inset -3px 3px 8px rgba(0, 0, 0, 0.3);
    top: 1px;
}

button:active {
    box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.1);
    top: 2px;
}

button[type="submit"] {
    background-color: #ff6495;
}

button[type="button"] {
    background-color: #f9bdc7;
}


.person-block p {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.person-block input[type="text"],
.person-block input[type="tel"],
.person-block input[type="email"],
.person-block select {
    margin-left: 10px;
    flex: 1;
}

.person-block input[type="color"],
.person-block input[type="file"],
.person-block select {
    margin-left: 10px;
}

.person-block input[type="radio"],
.person-block input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}

.person-block select[name="mbti[]"] {
    width: 200px;
    flex: none;
}

.person-block input[type="color"] {
    width: 100px;
    height: 30px;
    flex: none;
}
