/* index page 스타일 */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px 100px;
  text-align: center;
  position: relative;
}

.welcome-title {
  font-size: 55px;
  font-weight: bold;
  color: #222;
}

.welcome-title span {
  color: #FF6495;
  font-family: 'Jockey One', sans-serif;
  gap: 1px
}

.welcome-title img {
  height: 60px;
  object-fit: contain;
  transform: translateY(-20px)
}

.subtitle {
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}

.join-button {
  margin-top: 30px;
  padding: 14px 36px;
  background-color: #f26a8d;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #dd5879;
}

.vertical-text {
  position: absolute;
  top: 0;
  bottom: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
  color: #f26a8d;
  opacity: 0.6;
  font-weight: bold;
  overflow: hidden; 
  white-space: nowrap;
}

.left-vertical {
  left: 0;
  padding-left: 10px;
}

.right-vertical {
  right: 0;
  padding-right: 10px;
}