<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='share.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <title>2025-1-OSSPrac-flow-05</title>
</head>
<body>
    {% include 'layout/header.html' %}
    <br><br><br><img src="/image/main.png" class="rotated-main">
    <div class="container">
        <div class="student-block" style="background-color: #F5A9BC;">
            <img src="/image/leader.png" class="rotated-leader">
            <div class="vertical-name">김<br>가<br>은</div>
            <img src="/image/person2.png" alt="학생 사진" class="indented-img">
            <div class="info">
                <p># 2022110896</p>
                <p># 여성</p>
                <p># kge5815@dgu.ac.kr</p>
                <p># 국제통상학과</p>
                <p># python</p>
                <p># 분석가 INTP</p>
            </div>
        </div>

        <div class="student-block" style="background-color: #6bc67d;">
            <div class="vertical-name">김<br>용<br>빈</div>
            <img src="/image/person1.jpg" alt="학생 사진" width="300" class="indented-img">
            <div class="info">
                <p># 2023111926</p>
                <p># 남성</p>
                <p># yb1553@dgu.ac.kr</p>
                <p># 정보통신공학과</p>
                <p># python, javascript, c, c++</p>
                <p># 외교관 ENFJ</p>
            </div>
        </div>
        
        <div class="student-block" style="background-color: #98c8ff;">
            <div class="vertical-name">양<br>승<br>경</div>
            <img src="/image/person3.png" alt="학생 사진" width="300" class="indented-img">
            <div class="info">
                <p># 2021113132</p>
                <p># 여성</p>
                <p># ysgyeong00@dgu.ac.kr</p>
                <p># 전자전기공학부</p>
                <p># python, java, c++</p>
                <p># 분석가 ENTP</p>
            </div>
        </div>

        <div class="student-block" style="background-color: #fcba73;">
            <div class="vertical-name">오<br>혜<br>령</div>
            <img src="/image/person4.png" alt="학생 사진" width="300" class="indented-img">
            <div class="info">
                <p># 2000000000</p>
                <p># 여성</p>
                <p># abcd@dgu.ac.kr</p>
                <p># ㅇㅇㅇㅇ과</p>
                <p># python</p>
                <p># ㅁㅁㅁ ㅇㅇㅇㅇ</p>
            </div>
        </div>
    </div>
    {% include 'layout/footer.html' %}
</body>
</html>
